*{
	padding: 0;
	margin: 0;
	border: 0;
}

@font-face {
	font-family: 'labtattoo';
	src: url('../fonte/labtattoo.eot');
	src: url('../fonte/labtattoo.eot?#iefix') format('embedded-opentype'),
	url('../fonte/labtattoo.woff2') format('woff2'),
	url('../fonte/labtattoo.woff') format('woff'),
	url('../fonte/labtattoo.ttf') format('truetype'),
	url('../fonte/labtattoo.svg#lobster_tworegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: labtattoo;
}

.menu ul {
	text-align:center;
	width: 1280px;
	margin: 0 auto;
}
.menu ul li{
	display: inline;
	padding: 75px;
	font-size: 30px;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: blue;
}

a:hover {
	color: black;
}

.principal-estudio{
	margin: 0 auto;
	width: 1280px;
	margin-top: 11px;
}

.principal-estudio:after{
	display: block;
	clear: both;
	content: '';
}

h1{
	color: aquamarine;
}

h3{
	margin-top: 5px;
}

p{
	font-size: 18px;
	color: blue;
}

.titulo{
	color: black;
}

.descricao{
	width: 1280px;
	float: left;
	text-align: center;
}

.descricao:after{
	display: block;
	clear: both;
	content: '';
}

.descricao-conteudo{
	width: 700px;
	margin: 0 auto;
}

.miniatura-bloco1{
	height: 300px;
	width: 420px;
	overflow: hidden;
	float: left;
	margin-left: 6px;
	margin-top: 20px;
}

.miniatura-bloco1:after{
	display: block;
	clear: both;
	content: '';
}

.miniatura-bloco2{
	height: 300px;
	width: 420px;
	overflow: hidden;
	float: left;
	margin-left: 6px;
	margin-top: 6px;
}

.miniatura-bloco2:after{
	display: block;
	clear: both;
	content: '';
}

.miniatura-bloco3{
	height: 300px;
	width: 420px;
	overflow: hidden;
	float: left;
	margin-left: 6px;
	margin-top: 6px;
}

.miniatura-bloco3:after{
	display: block;
	clear: both;
	content: '';
}

.footer{
	padding-top:40px;
	width: 1280px;
	margin: 0 auto;
}

.footer:after{
	display: block;
	clear: both;
	content: '';
}

.adress{
	float:left;
	text-align:center;
	margin-left: 40px;
}

.adress:after{
	display:block;
	clear:both;
	content:'';
}

.cartoes{
	float: left;
	margin-left: 190px;
}

.cartoes:after{
	display: block;
	clear: both;
	content: '';
}

.social{
	float:right;
	margin-right: 40px;
}

.social:after{
	display:block;
	clear:both;
	content:'';
}

.ico{
	float:left;
	margin-left:20px;
}

.ico:after{
	display:block;
	clear:both;
	content:'';
}

.copyright{
	margin-top: 5px;
	font-size: 12px;
}

.copyright:after{
	display: block;
	clear: both;
	content: '';
}
